

.head{
    width: 100%;
    display: inline-block;

}

.right {
    float: right;
}

.left{
    float: left;


}




.links span:hover{
    text-decoration: underline;

}

.container{
    padding-top: 20px;
}

.shadown {
    background: rgba(0,0,0,.333);
}

 label {
    padding-bottom: 10px;
     padding-top: 10px;
     font-weight: bold;
}



.sidebar{
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    background: white;
}

.sidebar header{
    font-size: 22px;
    text-align: center;
    background: #a0aec0;
    line-height: 70px;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    box-sizing: border-box;

    /*border-bottom: 1px solid black;*/
    transition: .4s;
}

a {
    text-decoration: unset;
    cursor: pointer;
  color: black;
}


input{
    cursor: pointer;
}

.section h3 {
    font-size: 50px;
}

.section p {
    font-size: 20px;
}

.readonly {
    background-color: #F8F9FA;
}

.in {

    justify-content: center;
    align-items:center;
}


.section {
    margin: 20px;
    padding: 20px;
    display: inline-block;
    text-align: justify;
}

nav{
    cursor: pointer;
}




a:hover {
    background-color: #F8F8F8;

}


.navbar-brand {
    font-size: 40px;
}

.contact {
    text-align: center;
    font-size: 25px;
    color: blue;
}

.space {
    padding-top: 40px;
}

.contact a {
    margin: 3px;
}

.links{
    padding-right: 30px;
    margin: 20px;
    font-weight: bold;
    justify-content: space-between;

}




.navlink {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border-radius: 4px;

}


.header span{

    font-weight: bold;
    font-size: 200%;
}

.tab h3{
    padding-left: 17%;
    font-weight: bold;
    padding-bottom: 2%;
}

.col-sm-12 {
    padding-left: 10%;
    flex: 0 0 auto;
    width: 80%;
}
.table{
    width: 100%;
}


header a{
    font-size: 20px;
    text-align: center;
}

.about {

    padding-left: 20px;
    font-size: 30px;

}

footer{
    text-align: center;

    padding-top: 50%;
}


.space{
    padding-bottom: 10px;
}

.flex {
    display: flex;

}

.element{
    width: 18rem;
}

@media (max-width: 480px)
.header span {
    font-weight: bold;
    font-size: unset !important;
}


@media (max-width: 480px) {

    .header span{
        font-weight: bold;
        font-size: 100%;
    }

    .table-responsive{
        width: 100%;
    }

    .btn-group{
        width: 50%;
        float: right;
    }



    .tab h3{
        padding-left: unset;
        font-weight: bold;
        padding-bottom: 2%;
    }

    .col-sm-12 {
        padding-left: 1%;
        flex: 0 0 auto;
        width: 100%;
    }
    .table{
        width: 100%;
    }


    .element{
        width: 10rem;
    }

}
